<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.2ndrive.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>~/2ndrive.sh</string>
		<string>eject</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.myjob.disable2nddrive.plist.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.myjob.disable2nddrive.plist.out</string>
</dict>
</plist>
